/* Remise à zéro de certains styles par défaut des navigateurs */
body, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  word-spacing: 4px;
  line-height: 1.5;
  font-weight: 200;
}

header {
  background-color: #ffffff;
  color: #000;;
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Centre les éléments de la liste horizontalement */
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
  font-size: 12px;
  font-weight: bold;
}

nav a:hover {
  color: #ddd;
}

.page-section {
  min-height: 100vh; /* Force chaque section à prendre au moins la hauteur de la fenêtre/écran de l'utilisateur. */
  padding: 0; /* Espacement intérieur pour le contenu */
}


#section1 {
  min-height: 50vh; /* 2/4 de la hauteur de l'écran */
  background-color: #E6E6FA80;
}

.content-wrapper {
  display: flex; /* Active le modèle Flexbox */
  width: 100%;
  height: 100%; /* Prend toute la hauteur du parent */
  justify-content: space-between; /* Espacement entre les éléments */
  align-items: center; /* Centre les éléments verticalement */
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column; /* Organise les éléments enfants en colonne */
  justify-content: center; /* Centre les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  padding-right: 20px;
  text-align: center; /* Pour que le texte lui-même soit centré */
}

.text-content h2 {
  font-size: 36px;
  color: #353434;
  margin-bottom: 10px;
  font-weight: 350;
}

.text-content h2 span.gradient {
  background-image: linear-gradient(45deg, violet, blue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /* Pour assurer une meilleure compatibilité avec Safari */
  font-style: italic;
}

.text-content p {
  font-size: 14px;
  color: #838383;
  text-align: left; /* Aligner le texte à gauche par rapport à son conteneur */
  margin-left: -41px;
}

.image-content {
  flex: 1; /* Permet à .image-content d'occuper 50% de .content-wrapper */
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.get-started-btn {
  background-color: #6355c0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;  /* Espacement au-dessus du bouton */
  transition: background-color 0.3s;
  margin-left: -190px;
}

.get-started-btn:hover {
  background-color: rgb(52, 1, 73); /* Couleur de fond légèrement plus foncée lorsque vous survolez le bouton */
}

/* ******************************************** */
/* section2 */
#section2 {
  background-color: #F8F8FF;
  display: flex;
  flex-direction: column; /* Pour organiser les éléments verticalement */
  background-color: #F8F8FF;
  text-align: center; /* Centrer les éléments enfants en mode bloc */
  padding-top: 30px;
}

.sub-title {
  font-size: 12px;
  text-align: center;
  color: rgb(182, 182, 182);
  padding-bottom: 20px;
}

.main-title {
  text-align: center;
  font-size: 36px;
  color: #353434;
  padding-bottom: 10px;
  font-weight: 350;
}

.page-section h2 span.gradient {
  background-image: linear-gradient(45deg, violet, blue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /* Pour assurer une meilleure compatibilité avec Safari */
  font-style: italic;
}

.features {
  display: flex;
  padding-top: 30px;
  gap: 20px;
  justify-content: center;
}

.feature {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 270px;
  height: 100px;
  padding-top: 10px;
  border-radius: 5px;
}

.feature-number {
  font-size: 50px;
  background-image: linear-gradient(45deg, violet, blue);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-top: 10px;
}

.feature-title, .feature-description {
  margin: 0;
}

.large-feature {
  box-sizing: border-box;
  width: 63.7%;
  height: 350px;
  display: flex;
  justify-content: center; /* Centre les éléments à l'intérieur */
  padding-top: 40px;
  margin: 0 auto;
  gap: 40px; /* Espacement entre l'image et le texte */
}

.large-feature img {
  width: auto; /* L'image prendra sa largeur naturelle jusqu'à la largeur maximale définie ci-dessous */
  max-width: 45%; /* Largeur maximale que l'image peut prendre */
  object-fit: cover;
  height: 100%; /* Ajuste la hauteur de l'image pour qu'elle corresponde à celle du conteneur parent */
  border-radius: 5px;

}

.large-feature-text {
  flex: 1; /* Le texte prendra l'espace restant */
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}

.learn-more-btn {
  background-color: #6355c0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;  /* Espacement au-dessus du bouton */
  transition: background-color 0.3s;
  display: inline-block;
}

.learn-more-btn:hover {
  background-color: rgb(52, 1, 73); /* Couleur de fond légèrement plus foncée lorsque vous survolez le bouton */
}

/* ***************************************************************************** */
/* section3 */

#section3 {
  height: 100vh; /* 100% de la hauteur de la fenêtre d'affichage */
  display: flex;
  justify-content: center;
  background-color: #F8F8FF;
  gap: 20px;
}

.left-section {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  gap: 5px;
  text-align: left;
}

/* Retirer les marges et paddings par défaut des éléments enfants */
.left-section > * {
  margin-left: 0;
  padding-left: 0;
  text-align: left; /* Pour s'assurer que le texte est également aligné à gauche */
}

.sub-title {
  color: rgb(182, 182, 182);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.left-section h2 {
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  font-size: 36px;
  color: #353434;
  padding-bottom: 10px;
  font-weight: 350;
}

.left-section h2 span.gradient {
  background-image: linear-gradient(45deg, violet, blue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /* Pour assurer une meilleure compatibilité avec Safari */
  font-style: italic;
}

.details-btn {
  /* Style pour le bouton. Ajustez selon vos préférences */
  background-color: #6355c0;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.details-btn:hover {
  background-color: rgb(52, 1, 73);
}

.right-section {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
}

.service {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;  /* Enlève le soulignement du lien */
  color: inherit;         /* Garde les couleurs du texte standard */
  cursor: pointer;        /* Indique qu'il s'agit d'un élément cliquable */
  border-radius: 5px;
}

.service-logo {
  width: 60px; /* Ajustez selon la taille de votre logo */
  height: 60px;
  object-fit: cover; /* Ajuste l'image à l'intérieur du conteneur tout en conservant son aspect */
}

.service h3, .service p {
  margin: 0; /* Retire les marges par défaut pour une meilleure apparence */
}
