body {
  font-family: Arial, sans-serif;
  background-color: #E6E6FA80;
  margin: 0;
  display: block; /* Ici, on change le display pour revenir à block (au lieu de flex) */
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: Helvetica;
  color: #838383;
  word-spacing: 4px;
  line-height: 1.5;
  font-weight: 200;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* pour s'assurer qu'il reste au-dessus des autres éléments */
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-wrapper {
  padding: 0 0px;
  padding-left: 100px;  /* Pour décaler légèrement le contenu vers la droite */
  margin-left: 0px;
}

.nav-links-button-wrapper {
  margin-left: 150px;
}

#navbar-logo {
  height: 60px;
  width: auto;
  margin-right: 100px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 1.2rem;
}

nav a {
  text-decoration: none;
  color: #353434;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 500;
}

nav a:hover {
  color: #6355c0;
}

nav a.active {
  color: #6355c0;
}

.login-btn {
  background-color: #6355c0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
  background-color: rgb(52, 1, 73);
}

.create-account-btn {
  background-color: white;
  color: #353434;
  border: 2px solid #797979;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-account-btn:hover {
  background-color: #E6E6FA80;
}

/* *************************************************************************** */
/* transition1 */

.transition1 {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.parent-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 70vh;
  margin: auto;
  align-items: center;
}

.job-finder-div, .chat-finder-div {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.job-finder-div a img {
  width: 50%; /* ajustez cette valeur pour augmenter ou diminuer la taille */
  height: auto;
  padding-top: 10px;
  padding-bottom: 35px;
}

.chat-finder-div a img {
  width: 50%; /* ajustez cette valeur pour augmenter ou diminuer la taille */
  height: auto;
}


button {
  background-color: #6355c0;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #533da9;
}

/* Réinitialisation des styles pour les liens */
.job-finder-div a, .chat-finder-div a {
  width: 100%; /* ajustez cette valeur pour augmenter ou diminuer la taille */
  height: auto;
  text-decoration: none; /* retire le soulignement */
  color: inherit; /* hérite la couleur du texte environnant */
  display: inline-block; /* pour permettre la transformation */
}

/* Styles pour l'effet d'ombre sur les images au survol */
.job-finder-div a img:hover, .chat-finder-div a img:hover {
  transition: transform 0.3s, box-shadow 0.3s; /* effet de transition doux */
  transform: translateY(-5px); /* effet de soulèvement */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); /* effet d'ombre */
}